TOKEN=your_telegram_bot_token
MY_CHAT_ID=your_telegram_chat_id
ALLOWED_CHAT_IDS=your_telegram_chat_id
SHEET_ID=your_google_spreadsheet_id
GOOGLE_CREDS_FILE=credentials.json
UPLOAD_DIR=uploads
DRIVE_FOLDER_ID=
